#left-column
	= link_to '/',:ref=> 'home', :class => "no style" do
		#logo
	%nav{:role => "navigation_menu"}
		%ul
			%li
				%a{:href => "/"} All
		
		
#right-column
	%h1.title
		Appsterdam
	%p.subtitle
	%p.excerpt
		Appsterdam è un'associazione nata da un'idea di Mike Lee, sviluppatore iOS di fama mondiale, che ha deciso di creare in Olanda una rete di professionisti nell'ambito del mondo delle applicazioni - siano esse mobile, web, embedded o desktop.
		Il gruppo promuove la cultura digitale in maniera completa: tra di noi ci sono soprattutto sviluppatori e designer, ma la nostra comunità include anche esperti di comunicazione, di marketing, di economia o legge; ogni singola idea è valida e può trovare ospitalità in Appsterdam.
		Da Febbraio del 2012, Appsterdam apre la sua ambasciata a Milano per offrire i propri servizi anche al pubblico italiano, permettendo così visibilità a livello internazionale.
	.clear
	.track
		.bottone-generico
			.container
				.corner-left
				.corner-right
				%h3 »»» Next
			.left_hover
			.center_hover
			.right_hover
		.content-calendar
			.white-box
				.container-info
					%h1
						Engagement trough succeed "gamification" 
					%p.data-calendar
						martedì 16 febbraio / ore 19.00
					%p.data-calendar
						at
						%span.where società anonima
				.container-descrizione
					%p.intro-calendar
						And we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. You understand?
					%p.intro-calendar
						con Claudio Petrarulo
		.content-calendar
			.white-box
				.container-info
					%h1
						Engagement trough succeed "gamification" 
					%p.data-calendar
						martedì 16 febbraio / ore 19.00
					%p.data-calendar
						at
						%span.where società anonima
				.container-descrizione
					%p.intro-calendar
						And we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. You understand?
					%p.intro-calendar
						con Claudio Petrarulo
		.content-calendar
			.white-box
				.container-info
					%h1
						Engagement trough succeed "gamification" 
					%p.data-calendar
						martedì 16 febbraio / ore 19.00
					%p.data-calendar
						at
						%span.where società anonima
				.container-descrizione
					%p.intro-calendar
						And we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. You understand?
					%p.intro-calendar
						con Claudio Petrarulo
		
	.clear	
	.post
		%img.post{:src => "../images/img1.png"}/
		.content-data.white-box
			%h1 07 / december / 2012
		.content-news.white-box
			%h1 I miti dell’ Internet Marketing: come conciliare logiche SEO ed Esperienza Utente
			%p.autore con Claudio Petrarulo
			%p.data Giovedì 7 gennaio ore 19.00
			%p.dove 
				@ società anonima
				%span.indirizzo — Via Pietro Micca 12
		.clear
			%a.bottone-generico{:href => "#shgsgs"}
				.container
					.corner-left
					.corner-right
					%h3 read more
				.left_hover
				.center_hover
				.right_hover
	.post
		%img.post{:src => "../images/img1.png"}/
		.content-data.white-box
			%h1 07 / december / 2012
		.content-news.white-box
			%h1 IxDT / Interaction Design Tuesday
			%p And we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. You understand?
			%p.sub-paragraph We go there, and that nigga Winston or anybody else in there. Then I’m gonna shoot that bitch in the kneecaps, find out where my goddamn money is.
		.clear
			%a.bottone-generico{:href => "#shgsgs"}
				.container
					.corner-left
					.corner-right
					%h3 read more
				.left_hover
				.center_hover
				.right_hover
	/ chiusura post
	/ chiusura right column
	/ chiusura container