!!!
%html{ :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{ 'name' => 'viewport', 'content'=>'width=device-width, initial-scale=1.0' }
    %title Welcome to localactor.org
    = stylesheet_link_tag 'mailing-list'
  %body
    
    %table#external{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0"}
      %tr
        %td#externaltd		
          %table#main{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0"}
            %tr
              %td
                .logo_doers
                %hr
                %h1.title 
                  WELCOME EMAIL/ 
                  %span
                    FEBRUARY 2013
                .logo
                
            %tr.story
              %td.story
                
                %h1.title 
                %p.month
                  WHERE/
                  %span.small 
                    società anonima — via Pietro Micca n°3
                %p.month
                  WHEN/
                  %span.small 
                    Tuesday 12th February at 7 pm
                    %h1.title 
                    .logo_stripes
                    %hr_stripes
                    %h1.title 
                      DON’T FORGET! 
                %p.subtitle 
                " VENTURE CAPITAL 
                %p.subtitle
                ISTRUZIONI PER L'USO "
                %p.description 
                with Emanuele Levi - partner at 360° capital
                
                .logo_join  
                %p.month
                  <a href="http://venturecapitalistruzioni.eventbrite.com/"> Sign up here</a>    
                %hr.border
                
                .logo_arcadia
                
            %tr.story
              %td.story
                %h1.title 
                  NEXT EVENTS
                %p.month
                  FEBRUARY:
                  %span
                    21st - Appsterdam Talklab
                
                %p.month
                  MARCH:    
                  %span
                    14th - Appsterdam Talklab
                .logo_stripes
                
                %h1.title 
                  NEW ARCADIANS
                %p.month
                  <a href="http://arcadiaproject.github.com/actors/brunobellissimo.html"> Bruno Bellissimo </a>                  
            %tr.story
              %td.story
                %p.title 
                  The Doers s.r.l.
                %p.description 
                  P.IVA 10766230014<br />
                  Torino, Via San Domenico 30<br />
                  we@thedoersproject.com
                
               
                %hr.border
            
            %tr.story
              %td.story
                %p.description
                  <br /><br /><br />
                  More to come soon we promise!<br /><br />
                  Your <a href="http://arcadiaproject.github.com/">Arcadia Project</a><br /><br />
                  If you wish to unsubscribe, please, click on this link...<br />