#logo
	+assign-sprite-background($assets)
	+sprite($assets, "logo-mobile", true)
#left-column
	+span-columns(7)
#right-column
	+span-columns(7)
	h1.vision
		font-family: "lato"
		font-size: px-to-em(26px)
		line-height: px-to-em(31px,24px)
		text-transform: uppercase
		margin-top: 5px
		margin-bottom: 0
		font-weight: 600
		font-style: italic
	.intro
		font-family: "libertine"
		font-size: px-to-em(15px)
		line-height: px-to-em(18px,16px)
		font-style: italic
		.first-word
			font-family: "libertine"
			font-size: px-to-em(12px)
			text-transform: uppercase
			font-weight: 900
			font-style: italic
nav
	ul
		+no-bullets
		@extend .noindent
		li
			.description
				+span-columns(7)
				margin-bottom: 7px
				margin-top: 13px
				.asterisk
					+assign-sprite-background($assets)
					+sprite($assets, "asterisk-mobile", true)
					+float-left
				p
					font-family: "lato", sans-serif
					text-transform: lowercase
					font-size: px-to-em(10px)
					line-height: px-to-em(11px,24px)
					color: #333333
					+float-left
					padding-left: 5px
					padding-top: 3px
					margin: 0
			.button-black
				clear: both
				position: relative
				background: black
				height: 30px
				.left-corner
					+assign-sprite-background($assets)
					+sprite($assets, "btn_black_corners_left-mobile", true)
					position: absolute
					left: 0
				
				.right-corner
					+assign-sprite-background($assets)
					+sprite($assets, "btn_black_corners_right-mobile", true)
					position: absolute
					right: 0
				a
					display: block
					font-family: "lato"
					font-size: px-to-em(13px)
					line-height: 30px
					text-transform: uppercase
					color: #00FFCE
					font-weight: 900
					font-style: italic
					padding-left: 11px
					text-decoration: none
					&:hover, &:focus
						color: #BDFFF2
	
					