+at-breakpoint($break)
	#logo
		+sprite($assets, "logo", true)
	#container
		+susy-grid-background
	#left-column
		+span-columns(3)
		nav[role="navigation_menu"]
			float: left
			ul
				li
					width: 80%	
					a
						+float-left
						text-align: left
						font-size: px-to-em(18px)
						line-height: px-to-em(21px,24px)
						&:hover
							background: #00FFCE
						&:active
							background: #BDFFF2
							
	#right-column
		+span-columns(13 omega)
		h1.title
			margin-top: 30px
			font-size: px-to-em(55px)
			line-height: px-to-em(66px,55px)
			display: inline-block
			&.vision
				line-height: px-to-em(66px,55px)
				+span-columns(11,13)
		p.subtitle
			font-size: px-to-em(18px,16px)
			line-height: px-to-em(21px,24px)
			display: inline
		.excerpt
			+span-columns(11,13)
			clear: both
			font-size: px-to-em(18px)
			line-height: px-to-em(22px,18px)
			text-indent: 62px
			background: image-url("textures/text_indent.png") top left no-repeat
		.intro
			clear: both
			font-size: px-to-em(23px)
			line-height: px-to-em(27px,24px)
			+span-columns(11,13)
			.first-word
				font-size: px-to-em(16px,23px)
				line-height: px-to-em(19px,27px)
		nav
			+span-columns(13)
			ul
				+no-bullets
				@extend .noindent
				+horizontal-list-container
				margin-bottom: 30px
				li
					+horizontal-list-item
					+span-columns(4,13)
					&.large
						width: auto
						a
							padding-right: 20px
					.description
						.asterisk
							+sprite($assets, "asterisk", true)
						p
							white-space: normal
							+hyphenation
							font-size: px-to-em(13px)
							line-height: px-to-em(23px,24px)
							margin: 0 0 0 sprite-width($assets, "asterisk")+5px
					a.button-black
						height: 44px
						font-size: px-to-em(16px)
						line-height: 44px
					
						padding-left: 20px
						
							
						
		//post-cover
		.post
			position: relative
			+clearfix
			overflow: visible
			+span-columns(11,13)
			img.post
				position: absolute
			.content-data
				+span-columns(3,11)
				+pre(6,11)
				margin-top: 25px
			.content-news
				+span-columns(5,11)
				+pre(6,11)
			.bottone-generico
				+pre(9,11)


	.content-calendar
		.white-box
			padding: 15 30 30 15
			+clearfix
			+span-columns(11, 13)
			padding: 15px 15px 15px 0
			.foto
				+span-columns(3,11)
				img
					padding-left: 15px
			.container-info
				+span-columns(4,11)
				h1
					margin: 0
			.container-descrizione
				+span-columns(4 omega,11)
				p:first-child
					margin: 0
				

	.evento
		margin-top: 40px
		position: relative
		.box
			+span-columns(7 omega,13)
			position: absolute
			top: 10px
			right: 0

			
		.content
			p.inizio
				width: 40%
			p.fine
				+span-columns(8,13)
			.content-image
				display: block
				+clearfix	
				img
					+float-left
					margin: 0 4px 10px 0
					
	.track
		.content-calendar
			.white-box
				+clearfix
				+span-columns(11,13)
				padding: 15px 15px 15px 0
				.container-info
					+span-columns(7,11)
				p.data-calendar
					+span-columns(2 alpha,7)
					margin: 5px 0 0 15px
				h1
					+span-columns(4 omega,7)
					
					//margin: 0
				.container-descrizione
					+span-columns(4 omega,11)
					p:first-child
						margin: 0
			

				