#left-column
	= link_to '/',:ref=> 'home', :class => "no style" do
		#logo
	%nav{:role => "navigation_menu"}
		%ul
			%li
				%a{:href => "#"} All
			%li
				%a{:href => "#sadf"} Developers
			%li
				%a{:href => "#"} Designers
			%li
				%a{:href => "#asdf"} Danny DeVito
			%li
				%a{:href => "#"} Nome Buffo
			%li
				%a{:href => "#dfs"} Kevin Spacey
			%li
				%a{:href => "#"} Bill Murray
#right-column
	.evento
		.title
			%h1 Kevin Spacey
			%p.date 21 / gennaio / 2013
		.box
			.white-box
				%p.quote « Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. » 
			.white-box
				%p.quote « Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. »
		.content
			%p.inizio
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
			.content-image
				%img.evento1{:src => "../../images/img1.png"}
				%img.evento2{:src => "../../images/img1.png"}
				%img.evento3{:src => "../../images/img1.png"}
				%img.evento4{:src => "../../images/img1.png"}
			%p.fine
				Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			