#logo
#left-column
  %nav{:role => "navigation_menu"}
    %ul.noindent
      %li
        %a All
      %li
        %a Developers
      %li
        %a Designers
      %li
        %a Nomebuffo
#right-column

  %h1.title
    bestiarum
    %span.subtitle /
    %p.subtitle a.k.a. un boccone non si nega a nessuno
  %p.excerpt
    We go there, and that nigga Winston or anybody else in there. Then I’m gonna shoot that bitch in the kneecaps, find out where my goddamn money is. And we got to go someplace else and get it. She gonna tell me too.
  %nav
    %ul
      %li
        .description
          .asterisk
          %p Find out where the fuck my goddamn money is:
        %a.button-black{:href => "#"} vieni a pranzo
  %ul.people
    %li
      %a{:href => "dsfa"}
        .white-box
          %nav{:role => "navigation"}
            %h3 Giuseppe Spezzano
          %h4 / phyton charmer
          .left_hover
          .center_hover
          .right_hover
    %li
      %a{:href => "hgkgfkj"}
        .white-box
          %nav{:role => "navigation"}
            %h3 Kevin Spacey
          %h4 / living legend
          .left_hover
          .center_hover
          .right_hover
    %li
      %a{:href => "sdfa"}
        .white-box
          %nav{:role => "navigation"}
            %h3 Bruno Bellissimo
          %h4 / shaolin coder
          .left_hover
          .center_hover
          .right_hover
    %li
      %a{:href => "hfgakgfka"}
        .white-box
          %nav{:role => "navigation"}
            %h3 Kevin Spacey
          %h4 / living legend
          .left_hover
          .center_hover
          .right_hover
    %li
      %a{:href => "jfhajh"}
        .white-box
          %nav{:role => "navigation"}
            %h3 Kevin Spacey
          %h4 / living legend
          .left_hover
          .center_hover
          .right_hover
    %li
      %a{:href => "fahljf#"}
        .white-box
          %nav{:role => "navigation"}
            %h3 Kevin Spacey
          %h4 / living legend
          .left_hover
          .center_hover
          .right_hover
    %li
      %a{:href => "#"}
        .white-box
          %nav{:role => "navigation"}
            %h3 Kevin Spacey
          %h4 / living legend
          .left_hover
          .center_hover
          .right_hover
    %li
      %a{:href => "#"}
        .white-box
          %nav{:role => "navigation"}
            %h3 Kevin Spacey
          %h4 / living legend
          .left_hover
          .center_hover
          .right_hover
    %li
      %a{:href => "#"}
        .white-box
          %nav{:role => "navigation"}
            %h3 Kevin Spacey
          %h4 / living legend
          .left_hover
          .center_hover
          .right_hover
/ chiusura right column
/ chiusura container