#container
  #left-column
    .logo
  #right-column

    %h1
      bestiarum
      %span.subtitle / a.k.a. un boccone non si nega a nessuno
    %p.intro-pagine-interne
      We go there, and that nigga Winston or anybody else in there. Then I’m gonna shoot that bitch in the kneecaps, find out where my goddamn money is. And we got to go someplace else and get it. She gonna tell me too.
    
    #bottoni
      
      .bottone-black
        .left-corner
        .right-corner
        %nav.breadcrumb
          %a{:href => "#"} bestiarum
    %ul.people
      %li
        %a{:href => "#dsfa"}
          .container
            .corner-left
            .corner-right
            %nav{:role => "navigation"}
              %h3 Giuseppe Spezzano
            %h4 / phyton charmer
            .left_hover
            .center_hover
            .right_hover
      %li
        %a{:href => "#"}
          .container
            .corner-left
            .corner-right
            %nav{:role => "navigation"}
              %h3 Kevin Spacey
            %h4 / living legend
            .left_hover
            .center_hover
            .right_hover
      %li
        %a{:href => "#sdfa"}
          .container
            .corner-left
            .corner-right
            %nav{:role => "navigation"}
              %h3 Bruno Bellissimo
            %h4 / shaolin coder
            .left_hover
            .center_hover
            .right_hover
      %li
        %a{:href => "#"}
          .container
            .corner-left
            .corner-right
            %nav{:role => "navigation"}
              %h3 Kevin Spacey
            %h4 / living legend
            .left_hover
            .center_hover
            .right_hover
      %li
        %a{:href => "#"}
          .container
            .corner-left
            .corner-right
            %nav{:role => "navigation"}
              %h3 Kevin Spacey
            %h4 / living legend
            .left_hover
            .center_hover
            .right_hover
      %li
        %a{:href => "#"}
          .container
            .corner-left
            .corner-right
            %nav{:role => "navigation"}
              %h3 Kevin Spacey
            %h4 / living legend
            .left_hover
            .center_hover
            .right_hover
      %li
        %a{:href => "#"}
          .container
            .corner-left
            .corner-right
            %nav{:role => "navigation"}
              %h3 Kevin Spacey
            %h4 / living legend
            .left_hover
            .center_hover
            .right_hover
      %li
        %a{:href => "#"}
          .container
            .corner-left
            .corner-right
            %nav{:role => "navigation"}
              %h3 Kevin Spacey
            %h4 / living legend
            .left_hover
            .center_hover
            .right_hover
      %li
        %a{:href => "#"}
          .container
            .corner-left
            .corner-right
            %nav{:role => "navigation"}
              %h3 Kevin Spacey
            %h4 / living legend
            .left_hover
            .center_hover
            .right_hover
  / chiusura right column
/ chiusura container