#left-column
	= link_to '/',:ref=> 'home', :class => "no style" do
		#logo
#right-column
	.container-intestazione
		%h1.title
			Contact us
		%p.subtitle / thoughts for food
	%p.excerpt
		We would love to invite you at our table for a lunch in studio. Do you have any idea, experience, opinion, project to share with us?
	%nav
		%ul
			%li.large
				.description
					.asterisk
					%p
						Take a ride to Turin, step in for a coffee and/or write us at
				=link_to 'arcadia@thedoersproject.com', '/eventi.html',:class => "button-black"