#left-column
	= link_to '/',:ref=> 'home', :class => "no style" do
		#logo
	%nav{:role => "navigation_menu"}
		%ul
			%li
				%a{:href => "/"} All
			%li
				%a{:href => "/tracks/eventi/evento.html"} IxDTuesday
			
#right-column
	%h1.title
		Events
	%p.subtitle / a.k.a. un boccone non si nega a nessuno
	%p.excerpt
		We go there, and that nigga Winston or anybody else in there. Then I’m gonna shoot that bitch in the kneecaps, find out where my goddamn money is. And we got to go someplace else and get it. She gonna tell me too.

	.accordion.vertical
		%section#vertabout
			%a.bottone-generico{:href => "#vertabout"}
				.container
					.corner-left
					.corner-right
					%h3 Gennaio
				.left_hover
				.center_hover
				.right_hover
			.content-calendar
				.white-box
					.foto
						%img{:src => "/images/foto_prova.png"}
					.container-info
						%h1
							Engagement trough succeed "gamification" 
						%p.data-calendar
							martedì 16 febbraio / ore 19.00
						%p.data-calendar
							at
							%span.where società anonima
					.container-descrizione
						%p.intro-calendar
							And we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. You understand?
						%p.intro-calendar
							con Claudio Petrarulo
				
			.content-calendar
				.white-box
					.foto
						%img{:src => "/images/foto_prova.png"}
					.container-info
						%h1
							I miti dell’internet marketing: come concliare logiche seo ed esperienza utente 
						%p.data-calendar
							martedì 16 febbraio / ore 19.00
						%p.data-calendar
							at
							%span.where società anonima
					.container-descrizione
						%p.intro-calendar
							And we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. You understand?
						%p.intro-calendar
							con Claudio Petrarulo
			
	.accordion.vertical
		%section#vertservices
			%a.bottone-generico{:href => "#vertservices"}
				.container
					.corner-left
					.corner-right
					%h3 Gennaio
				.left_hover
				.center_hover
				.right_hover
			.content-calendar
				.white-box
					.foto
						%img{:src => "/images/foto_prova.png"}
					.container-info
						%h1
							framework css: blueprint e less
						%p.data-calendar
							martedì 16 febbraio / ore 19.00
						%p.data-calendar
							at
							%span.where società anonima
					.container-descrizione
						%p.intro-calendar
							And we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. You understand?
						%p.intro-calendar
							con Claudio Petrarulo
				
			.content-calendar
				.white-box
					.foto
						%img{:src => "/images/foto_prova.png"}
					.container-info
						%h1
							Engagement trough succeed "gamification" 
						%p.data-calendar
							martedì 16 febbraio / ore 19.00
						%p.data-calendar
							at
							%span.where società anonima
					.container-descrizione
						%p.intro-calendar
							And we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. You understand?
						%p.intro-calendar
							con Claudio Petrarulo
		
