#left-column
	= link_to '/',:ref=> 'home', :class => "no style" do
		#logo
	%nav{:role => "navigation_menu"}
		%ul
			%li
				%a{:href => "/"} All
			%li
				%a{:href => "/tracks/ixdtuesday.html"} IxDTuesday
			%li
				%a{:href => "/tracks/appsterdammilano.html"} Appsterdam Milano
			
#right-column
	%h1.title
		Events
	%p.subtitle / beware of who you want to meet, you might like to start a company with her
	%p.excerpt
		Communities are made of people that love to meet. We think that bridging communities with the offer of a shared calendar, with possibly no overlaps, is a little step in the direction of empowering those people in making something bigger together.

	.accordion.vertical
		%section#vertabout
			%a.bottone-generico{:href => "#vertabout"}
				.container
					.corner-left
					.corner-right
					%h3 Gennaio
				.left_hover
				.center_hover
				.right_hover
			.content-calendar
				.white-box
					.foto
						%img{:src => "/images/foto_prova.png"}
					.container-info
						%h1
							Oltre il Responsive Design una strategia scalabile per essere online su tutti i device 
						%p.data-calendar
							Martedì 15 Gennaio 201/ ore 19.00
						%p.data-calendar
							at
							%span.where società anonima, Via Pietro Micca, 12, Torino
					.container-descrizione
						%p.intro-calendar
							Nel 2012 si è parlato molto di responsive design. Il 2013 sarà l’anno in cui si passerà davvero dalla teoria alla pratica.
						%p.intro-calendar
							Piermaria Cosina, CDO The Doers
			.content-calendar
				.white-box
					.foto
						%img{:src => "/images/foto_prova.png"}
					.container-info
						%h1
							Appsterdam TalkLab 
						%p.data-calendar
							giovedì 17 gennaio / ore 19.00
						%p.data-calendar
							at
							%span.where 
						.container-descrizione
							%p.intro-calendar
								Il TalkLab è il laboratorio di Appsterdam in cui tutti hanno modo di imparare nuove tecnologie e fare esperienza con gli altri. 
							%p.intro-calendar
								organizzato da Gianfranco Reppucci, Alessio Roberto
			
			
	.accordion.vertical
		%section#vertservices
			%a.bottone-generico{:href => "#vertservices"}
				.container
					.corner-left
					.corner-right
					%h3 Febbraio
				.left_hover
				.center_hover
				.right_hover
			.content-calendar
				.white-box
					.foto
						%img{:src => "/images/foto_prova.png"}
					.container-info
						%h1
							Venture Capital: istruzioni per l'uso
						%p.data-calendar
							Martedì 12 Febbraio 2013
						%p.data-calendar
							at
							%span.where società anonima, Via Pietro Micca, 12, Torino
					.container-descrizione
						%p.intro-calendar
							come funziona e in che modo può aiutare una startup.
						%p.intro-calendar
							Emanuele Levi - 360° Capital
			.content-calendar
				.white-box
					.foto
						%img{:src => "/images/foto_prova.png"}
					.container-info
						%h1
							Appsterdam TalkLab 
						%p.data-calendar
							giovedì 21 febbraio / ore 19.00
						%p.data-calendar
							at
							%span.where 
						.container-descrizione
							%p.intro-calendar
								Il TalkLab è il laboratorio di Appsterdam in cui tutti hanno modo di imparare nuove tecnologie e fare esperienza con gli altri. 
							%p.intro-calendar
								organizzato da Gianfranco Reppucci, Alessio Roberto
	.accordion.vertical
		%section#vertservices
			%a.bottone-generico{:href => "#vertservices"}
				.container
					.corner-left
					.corner-right
					%h3 Marzo
				.left_hover
				.center_hover
				.right_hover
			.content-calendar
				.white-box
					.foto
						%img{:src => "/images/foto_prova.png"}
					.container-info
						%h1
							Appsterdam TalkLab 
						%p.data-calendar
							giovedì 14 marzo / ore 19.00
						%p.data-calendar
							at
							%span.where 
						.container-descrizione
							%p.intro-calendar
								Il TalkLab è il laboratorio di Appsterdam in cui tutti hanno modo di imparare nuove tecnologie e fare esperienza con gli altri. 
							%p.intro-calendar
								organizzato da Gianfranco Reppucci, Alessio Roberto
		
