
#left-column
	= link_to '/',:ref=> 'home', :class => "no style" do
		#logo
		
#right-column
	%h1.title.vision
		You hacker, whatever beast you look like 
		%span.tipologie — designerd, developeneur, investivist, bootstrapper, a foundreamer —
		you are an Arcadian.
	%p.intro
		%span.first-word [The first bit of Arcadia]
		Communities are made of people that love to meet. We think that bridging communities with the offer of a shared calendar, with possibly no overlaps, is a little step in the direction of empowering those people in making something bigger together.
	%nav
		%ul
			%li
				.description
					.asterisk
					%p
						Events that hackers, designerds and startuppers should never miss. <br /><br /><br />
				=link_to 'Events', '/events.html#vertabout',:class => "button-black"
			%li
				.description
					.asterisk
					%p
						Arcadians we met so far <br /><br /><br /><br /><br />
				=link_to 'Bestiarum', '/bestiarum.html',:class => "button-black" 
			%li
				.description
					.asterisk
					%p
						We would love to invite you at our table for a lunch in studio. Do you have any idea, experience, opinion, project to share with us?
				=link_to 'Contact us', '/contactus.html',:class => "button-black" 
