#left-column
  #logo
#right-column
  %h1.title.vision
    No, motherfucker: my money's in that office, right? If she start giving me some bullshit about it
  %p.intro
    %span.first-word [intro]
    and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. You understand?
  %nav
    %ul
      %li
        .description
          .asterisk
          %p
            Find out where the fuck my succeed "goddamn" do money is:
        = link_to 'Eventi', '/eventi.html',:class => "button-black"
      %li
        .description
          .asterisk
          %p
            Find out where the fuck my succeed "goddamn" do money is:
        = link_to 'Eventi', '/eventi.html',:class => "button-black" 
     
  / chiusura right column