#container
  #left-column
  / <div id="right-column">
  #post
    %img{:src => "images/img1.png"}/
    .content-data
      %h1 07 / december / 2012
    .content-news
      .corner-up
      %h1
        I miti dell’ Internet Marketing:
        = succeed "come" do
          %br/
        conciliare logiche SEO ed Esperienza Utente
      %span.autore con Claudio Petrarulo
      %br/
      %span.data Giovedì 7 gennaio ore 19.00
      %br/
      %span.dove @ società anonima
      %span.indirizzo — Via Pietro Micca 12
      .corner-down
    .clear
      %a.bottone-generico{:href => "#shgsgs"}
        .container
          .corner-left
          .corner-right
          %h3 read more
        .left_hover
        .center_hover
        .right_hover
  / chiusura post
/ chiusura right column
/ chiusura container